<div class="login-container">
  <div class="login-form">
    <h1>Murphy Delicacies</h1>
    <h2>Hello there.</h2>
    <p>Please enter your username and password to continue.</p>
    <form (ngSubmit)="onSubmit()">
      <input type="text" placeholder="User Name" [(ngModel)]="username" name="username" required />
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      <button type="submit">Sign In</button>
    </form>
    <h3 class="terms">
      Don't have an account? Please <a (click)="onSignUpClick()">Sign Up</a>.
    </h3>
  </div>
  <div class="login-image">
    <img src="https://images.unsplash.com/photo-1608991467796-7267e7accc00?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Coffee Image">
  </div>
</div>
