.home-container {
    font-family: 'Arial', sans-serif;
    color: #333;
  
    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f4f4f4;
      padding: 50px;
  
      .hero-content {
        max-width: 50%;
  
        h1 {
          font-size: 3em;
          margin-bottom: 20px;
        }
  
        p {
          font-size: 1.2em;
          margin-bottom: 20px;
        }
  
        .cta-button {
          background-color: #6a994e;
          color: white;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
        }
      }
  
      .hero-image img {
        width: 50%;
        height: 30%;
        margin-bottom: 10px;
        border-radius: 10%;
      }
    }
  
    .menu {
      padding: 50px;
      text-align: center;
  
      h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
      }
  
      .menu-tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
  
        .tab {
          margin: 0 10px;
          padding: 10px;
          cursor: pointer;
          font-weight: bold;
        }
      }
  
      .menu-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
  
        .menu-item {
          text-align: center;
  
          img {
            width: 50%;
            height: 50%;
            margin-bottom: 10px;
            object-fit: cover; /* Ensures image maintains aspect ratio and fits within the box */
            border-radius: 10px; /* Optional: Adds rounded corners */

          }
  
          h3 {
            font-size: 1.5em;
            margin-bottom: 5px;
          }
  
          p {
            font-size: 1.2em;
          }
        }
      }
    }
  
    .testimonials-gallery {
      display: flex;
      justify-content: space-around;
      padding: 50px;
      background-color: #f9f9f9;
  
      .testimonials {
        max-width: 40%;
        text-align: left;
  
        h3 {
          font-size: 2em;
          margin-bottom: 20px;
        }
  
        p {
          font-size: 1.2em;
        }
      }
  
      .gallery {
        max-width: 50%;
  
        h3 {
          font-size: 2em;
          margin-bottom: 20px;
        }
  
        .gallery-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
  
          img {
            max-width: 100%;
            height: auto;
          }
        }
  
        .cta-button {
          display: block;
          margin-top: 20px;
          background-color: #6a994e;
          color: white;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  